{
    "project_id": "your_project_id",
    "disk_size": "11111",
    "disk_type": "your_dick_type",
    "image_description": "your_image_description",
    "tags": "your_tags",
    "network": "your_network"
  } 